@use '../../styles/constants.scss' as *;
@use '../../styles/breakpoints.scss' as *;

.root {
    background-color: rgba(white, 0.1);
    padding: 20px;
}

.title {
    margin-bottom: $stdOffset;
}

.content {
    display: grid;
    grid-gap: $stdOffset;

    @include lg {
        grid-template-columns: repeat(2, 1fr);
    }
}
