@use '../../styles/breakpoints.scss' as *;

.button {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;

    @include md {
        padding: 20px 40px;
    }
}

.buttonRed {
    background-color: #c51131;
}

.buttonGhost {
    border: 2px #fff solid;
}
