@use '../../styles/index.scss' as *;

.root {
    display: grid;
    margin-top: 50px;
    grid-gap: 20px 40px;
    margin: 40px 20px;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        margin: 0 40px;
    }
}

.column {
    box-sizing: border-box;
    margin-bottom: 50px;

    @media (min-width: 768px) {
        margin-right: 20px;
        margin-bottom: 0;
    }

    @media (min-width: 1080px) {
        margin-right: 40px;
    }
}

.title {
    font-size: 25px;
    flex: 1;
    margin-top: 40px;

    @media (min-width: 768px) {
        font-size: 20px;
    }

    @media (min-width: 1080px) {
        font-size: 30px;
        margin-top: 40px;
    }
}

.text {
    margin-top: 20px;
}

.button {
    text-align: center;
    margin-top: 40px;
}
