@use '../../styles/breakpoints.scss' as *;

.root {
    display: grid;
    margin-top: 50px;
    grid-gap: 20px 40px;

    @include md {
        grid-template-columns: repeat(3, 1fr);
    }
}

.title {
    font-size: 25px;
    flex: 1;
    margin-top: 40px;

    @include md {
        font-size: 20px;
    }

    @include lg {
        font-size: 30px;
        margin-top: 40px;
    }
}

.text {
    margin-top: 20px;
}

.button {
    text-align: center;
    margin-top: 40px;
}
