@use '../../styles/constants.scss' as *;

.root {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: $mainBackgroundColor;
    border-bottom: 2px #333 solid;

    @media (min-width: 768px) {
        padding: 20px 60px;
    }
}

.desktopNavigation {
    display: none;

    @media (min-width: 768px) {
        display: initial;
    }
}

.mobileNavigation {
    height: 100%;
    align-self: center;

    @media (min-width: 768px) {
        display: none;
    }

    a {
        svg {
            width: 40px;
        }
    }
}

.navList {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navItem {
    a {
        text-decoration: none;
        margin-right: 20px;
        color: $textColor;
    }
}
