@use 'breakpoints.scss' as *;

@mixin alignmentContainer() {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    @include breakpointMedium {
        padding-left: 60px;
        padding-right: 60px;
    }
}
