@use './constants.scss' as *;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $titleFontFamily;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 120%;
}

body {
    font-family: $textFontFamily;
}
