@use '../../styles/constants.scss' as *;
@use '../../styles/breakpoints.scss' as *;

.root {
    margin-top: $stdOffset * 2;
    display: grid;
    grid-gap: $stdOffset;

    @include breakpointMedium {
        grid-template-columns: repeat(2, 1fr);
    }
}
